@use "./variables" as *;
@use "./mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mooli", sans-serif;

  background-color: $nord-pn-100;
  color: $nord-ss-300;

  padding: 2rem;
  padding-top: calc(2 * $header-height + 2rem);
  padding-left: $navigation-width;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $nord-ss-300;
}